@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.list {
    list-style-type: none;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.container {
    padding: 0 11em 1em;
}

/* Header/Navbar */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.first_navbar {
    background-color: #393838;
    color: white;
    padding: 0.5em 12em 0.5em 11.6em;


    .logo {
        font-family: "Anta", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

.second_navbar{
    background-color: #324b92;
    padding: 0 1em 0 0;


    .content_list {
        padding: 0.7em;
    }

    .content_list:hover {
        background-color: #333333;
    }

    .navbar_choose_content_section {
    list-style-type: none;
    }

}



.list {
    gap: 1em;
}

.search_background {
    background-color: #393838;
    color: white;
    border: none;
}

.navbar_search_button {
    padding: 0.2em;
}

/* Main Content */

.button {
    justify-content: end;


    .add_book_button {
        padding: 0.7em;
        border-radius: 0.5em;

    }

}

.main_content {
    padding: 1em;
}

.section {
    padding-bottom: 2em;
    border-bottom: 1px solid #393838;
}

.plan_to_read_section, .read_section {
    margin-top: 2em;
}

.section_header {
    margin-bottom: 1em;
}

.book_card {
    border: 1px solid white;
}

/* Main Footer TO_REMOVE_LATER */
.main_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;
    min-height: 1em;
    border: 1px solid #ededed;
}