@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --details_color: #333333;
}


/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow:auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.list {
    list-style-type: none;
    gap: 1em;
}

.list_item {
    cursor: pointer;
}

.container {
    padding: 0 11em 1em;
}

.button {
    cursor: pointer;
}


/* Header/Navbar */

.hidden_bar {
    background-color: #212020;
    position: fixed;
    min-height: 2.8em;
    z-index: -1;
    width: 100vw;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.first_navbar {
    padding: 0.5em 1em;
}

.logo {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
}

.user_list:hover {
    color: #abc4ed;
    text-decoration:underline;
}

.second_navbar{
    background-color: #324b92;
    padding: 0.5em 1em; 
}

.navbar_choose_content_section {
    list-style-type: none;
    gap: 1em;

}

.content_list {
    padding: 0.7em 0;
}

.content_list:hover {
    background-color: var(--details_color);
}

.navbar_search_section {
    gap: 0.3em;
    align-items: center;
    display: flex;
    background-color: var(--details_color);
}

.navbar_search_parameters {
    padding: 0.3em;
}

.search_background {
    background-color: var(--details_color);
    color: white;
    border: none;
}

.full_search_bar {
    gap: 0.09em;
}

.navbar_search_bar {
    max-height: 2em;
}

.navbar_search_button {
    padding: 0.1em;
    align-items: center;
}

.search_bar_icon {
    min-height: 1.4em;
    background-color: var(--details_color);
}


/* Main Content */

.add_button_container {
    justify-content: end;

}

.add_book_button {
    padding: 0.7em;
    border-radius: 0.5em;
    background-color: #3f5eb8;
    color: white;
    border: 1px solid #3f5eb8;
}

.add_book_button:hover {
    background-color: #4f74c8;
}

.main_content {
    padding: 1em;
    background-color: #121212;
    border: 1px solid #393838;
}

.section {
    padding-bottom: 2em;
    border-bottom: 1px solid #393838;
}

.section_header {
    margin-bottom: 1em;
}

.plan_to_read_section, .read_section {
    margin-top: 2em;
}

.book_card {
    border: 1px solid white;
    margin-bottom: 1em;

}

.book_details {
    padding: 1.3em;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.book_first_section {
    justify-content: space-between;
}

.book_title {
    margin-bottom: 0.4em;
}

.book_description {
    margin-bottom: 0.2em;
}

.book_status {
    flex-direction: column;
    align-items: end;
}

.status_title {
    margin-right: 7.5em;
    margin-bottom: 0.3em;
}

.book_status_change {
    gap: 0.4em;
}

.book_status_selector {
    background-color: var(--details_color);
    color: white;
    padding: 0.3em;
    border: 1px solid var(--details_color);
}

.update_button {
    padding: 0.5em;
    background-color: var(--details_color);
    color: #9dc4ed;
    border: 1px solid var(--details_color);
    border-radius: 0.3em;
}

.remove_book_button {
    padding: 0.4em;
    height: 40%;
    background-color: var(--details_color);
    color: #9dc4ed;
    border: 1px solid var(--details_color);
    border-radius: 0.3em;
}

.remove_book_button:hover {
    text-decoration: underline;
}


/* Main Footer TO_REMOVE_LATER */
.main_footer {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    width: 100%;
    min-height: 1em;
    border: 1px solid #ededed;
}



/* MEDIA QUERIES */

@media (max-width: 1024px) {

    .container {
        padding: 0 7em 1em;
    }

    .navbar_choose_content_section {
        align-items: center;
    }
}


@media (max-width: 768px) {

    .container {
        padding: 0 2em 1em;
    }

}

@media (max-width: 620px) {

    .second_navbar {
        flex-direction: column;
        gap: 0.5em;
        padding-bottom: 1em;
    }

    .navbar_search_bar {
        width: 20em;
    }

}

@media (max-width: 500px) {

    .container {
        background-color: red;
        padding: 0 1em 1em;
    }

    .first_navbar {
        padding: 0.3em;
        gap: 1em;
    }

    .navbar_search_bar {
        width: 14em;
    }

    .user_list {
        text-align: end;
    }

    .content_list {
        text-align: end;
        margin-right: 1em;
        margin-left: 1em;
    }

    .book_image {
        width: 34%;
    }

    .book_details {
        padding: 1em
    }

    .status_title {
        margin-right: 2.5em;
        margin-bottom: 0.3em;
    }

    .remove_book_button {
        padding: 0.2em;
        height: 30%;
    }

}